#toast{
    position: fixed;
    top: 32px;
    right: 32px;
}


.toast{
    display: flex;
    min-height: 70px;
    max-width: 450px;
    min-width: 400px;
    max-height: 100px;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    align-items: center;
    background-color: #fff;
    animation: slideInLeft ease .3s;
}

@keyframes slideInLeft{
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to{
        opacity: 1;
        transform: translateX(calc(0));
    }
}

.toast + .toast{
    margin-top: 16px;
}

.toast__icon, .toast__close{
    padding: 8px 16px;
    
}

.toast__icon{
    font-size: 24px;
}

.toast__body{
    flex-grow: 1;
}

.toast__title, .toast__mgs{
    margin: 0;
}

.toast__title{
    font-size: 16px;
    font-weight: 600;
    color: #222;
}

.toast__mgs{
    font-size: 14px;
    color: #555;
    margin-top: 2px;
    line-height: 1.6;
}

.toast__close{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.toast__close:hover{
    opacity: 0.5;
    cursor: pointer;
}

.toast--success{
    border-color: #3fd361;

}

.toast--success .toast__icon{
    color: #3fd361;
}

.toast--warn{
    border-color: #e5a621;

}

.toast--warn .toast__icon{
    color: #e5a621;
}

.toast--error{
    border-color: #dd3523;

}

.toast--error .toast__icon{
     color: #dd3523;   
}

.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    /* position: fixed; */
    /* top: 400px; */
    /* left: 600px; */
}

.btn--success, .btn--error{
    color: #fff;
    min-width: 200px;
    max-width: 250px;
    padding: 4px;
    font-size: 24px;
    border-radius: 50px;
    text-align: center;
}

.btn--success{
    background-color: #71be34;
   
}

.btn--error{
    background-color: #ff623d;
}
.btn--success:hover, .btn--error:hover{
    opacity: 0.8;
    cursor: pointer;
}